{
  "advertise_addr" : "{{ GetInterfaceIP \"eth0\" }}",
  "bind_addr": "{{ GetInterfaceIP \"eth0\" }}",
  "client_addr": "0.0.0.0",
  "data_dir": "/consul/data",
  "datacenter":"<<REGION>>",
  "acl_datacenter":"<<REGION>>",
  "leave_on_terminate" : true,
  "retry_join" : [
    "consul.server"
  ],
  "server_name" : "agent.<<REGION>>.consul",
  "skip_leave_on_interrupt" : false,
  "server" : false,
  "ui" : false,
  "disable_update_check": true,
  "log_level": "info",
  "encrypt": "<<ENCRYPTION_TOKEN>>",
  "ca_file": "/run/secrets/ca.cert",
  "cert_file": "/run/secrets/consul.cert",
  "key_file": "/run/secrets/consul.key",
  "ports": {
    "https": 8501
  }
}