{
  "advertise_addr" : "{{ GetInterfaceIP \"eth0\" }}",
  "bind_addr": "{{ GetInterfaceIP \"eth0\" }}",
  "client_addr": "0.0.0.0",
  "data_dir": "/consul/data",
  "datacenter": "<<REGION>>",
  "acl_datacenter":"<<REGION>>",
  "acl_master_token":"<<MASTER_TOKEN>>",
  "acl_default_policy": "deny",
  "acl_down_policy": "extend-cache",
  "leave_on_terminate" : true,
  "retry_join" : [
    "consul.server"
  ],
  "server_name" : "server.<<REGION>>.consul",
  "skip_leave_on_interrupt" : true,
  "bootstrap_expect": <<MANAGER_COUNT>>,
  "server" : true,
  "ui" : true,
  "autopilot": {
    "cleanup_dead_servers": true
  },
  "disable_update_check": true,
  "log_level": "info",
  "encrypt": "<<ENCRYPTION_TOKEN>>"
  "ca_file": "/run/secrets/ca.cert",
  "cert_file": "/run/secrets/consul.cert",
  "key_file": "/run/secrets/consul.key",
  "ports": {
    "https": 8501
  }
}