{
  "advertise_addr" : "{{ GetInterfaceIP \"eth0\" }}",
  "bind_addr": "{{ GetInterfaceIP \"eth0\" }}",
  "client_addr": "0.0.0.0",
  "data_dir": "/consul/data",
  "datacenter": "<<REGION>>",
  "leave_on_terminate" : true,
  "retry_join" : [
    "consul.server"
  ],
  "server_name" : "agent.<<REGION>>.consul",
  "skip_leave_on_interrupt" : false,
  "server" : false,
  "ui" : false,
  "disable_update_check": true,
  "log_level": "warn",
  "encrypt": "<<ENCRYPTION_TOKEN>>"
}